/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 128;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 56%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);

  --second-color: hsla(39, 89%, 62%, 90%);
  --second-color-darken: hsl(39, 89%, 52%);
  --third-color: hsl(36,83%,86%);
  --fourth-color: hsl(43,25%,64%);

  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .9rem;
  --small-font-size: .8rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; /*For animation dark mode*/
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.nav__btns{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
     -ms-column-gap: 1rem;
          column-gap: 1rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center{
  text-align: center;
}

.container{
  max-width: 1118px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: -ms-grid;
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; /*For animation dark mode*/
}

/*=============== NAV ===============*/
.nav{
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__toggle,
.nav__close{
  color: var(--title-color);
}

.nav__logo{
  max-width: 125px;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
     -moz-column-gap: .5rem;
     -ms-column-gap: .5rem;
          column-gap: .5rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-top: 5px;
  margin-left: -30px;
}

.nav__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: hsla(39, 89%, 62%, 90%);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    -webkit-box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
            box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__close{
  font-size: 1.6rem;
  position: absolute;
  top: .8rem;
  right: 1.325rem;
  cursor: pointer;
}

.nav__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color: var(--container-color);
  font-weight: var(--font-medium);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__social-links {
  margin: 1.5rem 0 0 -.1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}

.nav__social-link {
  font-size: 1.5rem;
  color: var(--first-color);
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}

.nav__social-link:hover {
  color: white;
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  -webkit-box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
          box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Active link */
.active-link{
  position: relative;
  color: var(--first-color);
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

/*=============== HOME ===============*/
.home{
  padding: 3rem 0 2rem;
}

.home__container{
  position: relative;
  row-gap: 2rem;
  background: url('/assets/css/home.svg');
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-box-shadow: 0 0 50px 50px white inset;
          box-shadow: 0 0 50px 50px white inset;
}

.home__img{
  width: 500px;
  height: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: border-radius 800ms ease-in-out;
  -o-transition: border-radius 800ms ease-in-out;
  transition: border-radius 800ms ease-in-out;
}

.home__img:hover{
  border-radius: 68% 32% 70% 30% / 44% 58% 42% 56%;
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
}

.home__description{
  margin-bottom: var(--mb-2-5);
}

.home__social{
  position: absolute;
  top: 2rem;
  right: -1.5rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow{
  font-weight: var(--font-medium);
  font-size: var(--smaller-font-size);
  color: var(--first-color);
  position: relative;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.home__social-follow::after{
  content: '';
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--first-color);
  right: -45%;
  top: 50%;
}

.home__social-links{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
          flex-direction: column;
  row-gap: .25rem;
}

.home__social-link{
  font-size: 1rem;
  color: var(--first-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.home__social-link:hover{
  -webkit-transform: translateX(.25rem);
      -ms-transform: translateX(.25rem);
          transform: translateX(.25rem);
}

.section__wave{
  margin-top: -6rem;
}

/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.button:hover .button__icon{
  -webkit-transform: translateX(.25rem);
      -ms-transform: translateX(.25rem);
          transform: translateX(.25rem);
}

.button--flex{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
     -moz-column-gap: .5rem;
          column-gap: .5rem;
}

.button--link{
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button--link:hover .button__icon{
  -webkit-transform: translateX(.25rem);
      -ms-transform: translateX(.25rem);
          transform: translateX(.25rem);
}

/*=============== ABOUT ===============*/
.about{
  background-color: hsl(0,0%,98%);
}

.about__container{
  row-gap: 2rem;
}

.about__img{
  width: 280px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__title{
  margin-bottom: var(--mb-1);
}

.about__description{
  margin-bottom: var(--mb-2);
}

.about__details{
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

.about__details-description{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: .5rem;
  -ms-column-gap: .5rem;
     -moz-column-gap: .5rem;
          column-gap: .5rem;
  font-size: var(--small-font-size);
}

.about__details-icon{
  font-size: 1rem;
  color: var(--first-color);
  margin-top: .15rem;
}

.partners__container{
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#mcf__logo{
  width: 225.38px;
  height: 67.5px;
}

#wp__logo{
  width: 152px;
  height: 152px;
}

/*=============== PILLARS ===============*/
.pillars__bg{
  background-color: var(--first-color);
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
}

.pillars__container{
  gap: 1.5rem;
  padding-top: 0.75rem;
}

.pillars__title{
  color: #FFF;
}

.pillars__card{
  background-color: var(--container-color);
  padding: 2rem 2rem 1.5rem 1rem;
  border-radius: 1rem;
}

.pillars__card-number{
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #FFF;
  padding: .4rem .65rem;
  border-radius: .25rem;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.pillars__card-title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.pillars__card-description{
  font-size: var(--small-font-size);
}

.pillars__card:hover .pillars__card-number{
  -webkit-transform: translateY(-.25rem);
      -ms-transform: translateY(-.25rem);
          transform: translateY(-.25rem);
}

/*=============== PROJECTS ===============*/
.project__card{
  border-radius: 1rem;
  border: 2.5px solid var(--first-color);
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.project__description{
  text-align: center;
}

.project__card-left {
  position: relative;
}

.project__img{
  position: relative;
  width: 120px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: var(--mb-1-5);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.project__title{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: .25rem;
}

.project__subtitle{
  padding-top: .25rem;
  padding-bottom: .9rem;
  font-size: var(--small-font-size);
}

.project__subtitle span:nth-child(1){
  background-color: orange;
  border-radius: .75rem;
  padding-right: 7px;
  padding-left: 7px;
}

.project__card a{
  color: var(--text-color);
  text-decoration: underline;
  -webkit-transition: -webkit-text-decoration 500ms linear;
  transition: -webkit-text-decoration 500ms linear;
  -o-transition: text-decoration 500ms linear;
  transition: text-decoration 500ms linear;
  transition: text-decoration 500ms linear, -webkit-text-decoration 500ms linear;
}

.project__card a:hover{
  text-decoration: none;
}

.project__button{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--first-color);
  color: #FFF;
  padding: .25rem;
  border-radius: .35rem;
  font-size: 1.15rem;
}

.project__button:hover{
  background-color: var(--first-color-alt);
}

.project__circle{
  width: 90px;
  height: 90px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  position: absolute;
  top: 19%;
  left: 2.5%;
}

/*=============== QUESTIONS ===============*/
.team__container {
  row-gap: 1rem;
}

.team__info {
  display: -ms-grid;
  display: grid;
  margin-bottom: 3rem;
  
  background: url('/assets/css/home.svg');
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-box-shadow: 0 0 50px 50px hsl(0,0%,98%) inset;
          box-shadow: 0 0 50px 50px hsl(0,0%,98%) inset;
}

.team__img {
  width: 160px;
  height: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: border-radius 800ms ease-in-out;
  -o-transition: border-radius 800ms ease-in-out;
  transition: border-radius 800ms ease-in-out;
  margin-bottom: 1rem;
}

.team__img:hover{
  border-radius: 68% 32% 70% 30% / 44% 58% 42% 56%;
}

.team__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.team__role {
  padding-bottom: .9rem;
  font-size: var(--small-font-size);
}

.questions{
  background-color: hsl(0,0%,98%);
}

.questions__container{
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.questions__group{
  row-gap: 1.5rem;
}

.questions__item{
  background-color: var(--container-color);
  border-radius: .25rem;
}

.questions__item-title{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.questions__icon{
  font-size: 1.25rem;
  color: var(--title-color);
}

.questions__description{
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 2.5rem;
}

.questions__description a{
  color: var(--container-color);
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
}

.questions__description a:hover{
  color: var(--second-color-darken);
}

.questions__header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
    -ms-column-gap: .5rem;
     -moz-column-gap: .5rem;
          column-gap: .5rem;
  padding: .75rem .5rem;
  cursor: pointer;
}

.questions__content{
  overflow: hidden;
  height: 0;
}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content{
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.questions__item:hover{
  -webkit-box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
          box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content{
  background-color: var(--first-color);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon{
  color: #FFF;
}

.accordion-open .questions__icon{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*=============== CONTACT ===============*/
.contact__container{
  row-gap: 3.5rem;
}

.contact__data{
  row-gap: 2rem;
}

.contact__subtitle{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: var(--mb-0-5);
}

.contact__description{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
      -ms-column-gap: .5rem;
     -moz-column-gap: .5rem;
          column-gap: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.contact__icon{
  font-size: 1.25rem;
}

.contact__inputs{
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
  margin-bottom: var(--mb-2-5);
}

.contact__content{
  position: relative;
  height: 3rem;
  border-bottom: 1px solid var(--text-color-light);
}

.contact__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
  z-index: 1;
}

.contact__label{
  position: absolute;
  top: .75rem;
  width: 100%;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

textarea::-webkit-input-placeholder{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

textarea::-moz-placeholder{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

textarea:-ms-input-placeholder{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

textarea::-ms-input-placeholder{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

textarea::placeholder{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__area{
  height: 7rem;
}

.contact__area textarea{
  resize: none;
}

/*Input focus move up label*/
.contact__input:focus + .contact__label{
  top: -.75rem;
  left: 0;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*Input focus sticky top label*/
.contact__input:not(:-moz-placeholder-shown).contact__input:not(:focus) + .contact__label{
  top: -.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}
.contact__input:not(:-ms-input-placeholder).contact__input:not(:focus) + .contact__label{
  top: -.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
  top: -.75rem;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*=============== FOOTER ===============*/
.footer{
  padding-top: 6rem;
}

.footer__container{
  row-gap: 3rem;
  margin-bottom: -2rem;
}

.footer__logo-img{
   width: 80px;
   height: 80px;
   margin: -20px;
}

.footer__logo{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
  -ms-column-gap: 1rem;
  -moz-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  color: var(--title-color);
  text-transform: lowercase;
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
  letter-spacing: -1px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__logo:hover{
  color: var(--first-color);
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}

.subscribe__title{
   font-size: var(--normal-font-size);
   margin-top: -5px;
   margin-bottom: 1.25rem;
}

.footer__subscribe{
  background-color: var(--first-color-lighten);
  padding: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: .5rem;
}

.footer__input{
  width: 70%;
  padding: 0 .5rem;
  background: none;
  color: var(--text-color);
  border: none;
  outline: none;
}

.footer__button{
  padding: 1rem;
}

.footer__data{
  display: -ms-grid;
  display: grid;
  row-gap: .75rem;
}

.footer__information{
  font-size: var(--small-font-size);
}

.footer__social{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: .75rem;
     -moz-column-gap: .75rem;
          column-gap: .75rem;
}

.footer__social-link{
  font-size: 1rem;
  color: var(--text-color);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__social-link:hover{
  -webkit-transform: translateY(-.25rem);
      -ms-transform: translateY(-.25rem);
          transform: translateY(-.25rem);
}

.footer__cards{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
      -ms-column-gap: .5rem;
     -moz-column-gap: .5rem;
          column-gap: .5rem;
}
.footer__card{
  width: 35px;
}

.footer__copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin: 2.5rem 0 0.5rem;
}

/* Hide subscription form */
.hide__subscription__form{
  display: none;
}

/*Hide Thank you message*/
.hide__thank__message{
  display: none;
}

/* Style thank message */
.thank__message{
  margin-top: 2.85rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  background-color: var(--first-color);
  right: 1rem;
  bottom: -30%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.scrollup__icon{
  font-size: 1rem;
  color: #FFF;
}

.scrollup:hover{
  background-color: var(--first-color-alt);
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb{
  background: hsl(var(--hue), 4%, 29%);
  border-radius: .5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img{
    width: 450px;
  }
  .home__title{
    font-size: var(--h1-font-size);
  }

  .pillars__bg{
    padding: 2rem 1rem;
  }
  .pillars__card{
    padding: 1.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .nav__link{
  color: var(--first-color);
  }

  .nav__social-links{
    display: none;
  }

  .partners__logo{
    width: 207.35px;
    height:62.1px;
  }

  .pillars__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .project__card{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 2rem auto;
    grid-template-columns: auto auto;
    gap: 2rem;
  }

  .footer__subscribe{
    width: 400px;
  }
}

@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }
  .nav__menu{
    margin-left: auto;
  }
  .nav__link {
		-webkit-transition: color .4s ease-in-out;
		-o-transition: color .4s ease-in-out;
		transition: color .4s ease-in-out;
  }
  .nav__link:hover {
    color: var(--second-color-darken);
  }

  .home__container,
  .about__container,
  .questions__container,
  .contact__container,
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .home{
    padding: 8.5rem 0 2.5rem;
  }
  .home__container{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__img{
    width: 700px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .home__social{
    top: 30%;
  }
  .section__wave{
  margin-top: -7rem;
  }

  .questions__container{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__container{
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }
  .footer__subscribe{
    width: initial;
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding: 8rem 0 1rem;
  }
  .section__title,
  .section__title-center{
    font-size: var(--h1-font-size);
  }

  .home{
    padding: 7rem 0 0;
  }
  .home__img{
    width: 875px;
  }
  .home__description{
    padding-right: 7rem;
  }
  .home__social{
  right: -1rem;
  }
  .section__wave{
  margin-bottom: -6rem;
  margin-top: -9rem;
  }

  .questions .section__wave {
    margin-top: -7rem;
  }

  .about__img{
    width: 380px;
  }
  .partners__container{
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 3rem;
  }

  .pillars__title{
    font-size: var(--h2-font-size);
  }
  .pillars__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .pillars__bg{
    padding: 2.5rem 2rem;
  }
  .pillars__card-title{
    font-size: var(--normal-font-size);
  }

  .project__description{
    padding: 0 16rem;
  }
  .project__img{
    width: 160px;
  }
  .project__circle{
    width: 110px;
    height: 110px;
    margin-top: -2rem;
  }
  .project__title{
    font-size: var(--normal-font-size);
  }

  .team__container{
    padding-top: var(--mb-1);
  }
  .team__img {
  width: 200px;
  }
  .team__info{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 2fr;
    grid-template-columns: 1fr 2fr;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }

  .questions{
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .questions__container{
    padding: 1rem 0 4rem;
  }
  .questions__title{
    text-align: initial;
  }
  .questions__group{
    row-gap: 2rem;
  }
  .questions__header{
    padding: 1rem;
  }
  .questions__description{
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

  .contact{
    padding-top: 4rem;
  }

  .footer__logo{
    font-size: var(--h3-font-size);
  }
  .footer__container{
    -ms-grid-columns: 1fr .5fr .5fr .5fr;
    grid-template-columns: 1fr .5fr .5fr .5fr;
  }
  .footer__copy{
    margin: 7rem 0 2rem;
  }
}

@media screen and (min-width: 1200px){
  .home__social{
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow{
    font-size: var(--small-font-size);
  }
  .home__social-follow::after{
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link{
    font-size: 1.15rem;
  }

  .about__container{
    -webkit-column-gap: 7rem;
       -moz-column-gap: 7rem;
            column-gap: 7rem;
  }

  .scrollup{
    right: 3rem;
  }
}
